<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxActive" value="32" />-->
        <!--<property name="maxIdle" value="6" />-->
        <!--<property name="maxWait" value="15000" />-->
        <!--<property name="minEvictableIdleTimeMillis" value="300000" />-->
        <!--<property name="numTestsPerEvictionRun" value="3" />-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="60000" />-->
        <!--<property name="whenExhaustedAction" value="1" />-->
    <!--</bean>-->
    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">-->
        <!--<constructor-arg ref="jedisPoolConfig" />-->
        <!--<constructor-arg value="127.0.0.1" />-->
        <!--<constructor-arg value="6379" />-->
        <!--<constructor-arg value="15000" />-->
        <!--<constructor-arg value="0123456" />-->
        <!--<constructor-arg value="12" />-->
    <!--</bean>-->

</beans>